@page
@model WypozyczalniaApp.Pages.Klienci.EditModel

@{
    ViewData["Title"] = "Edytuj Klienta";
}

<h1>Edytuj Dane Klienta</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Klient.KlientId" />

            <div class="form-group mb-3">
                <label asp-for="Klient.Imie" class="control-label">Imię</label>
                <input asp-for="Klient.Imie" class="form-control" />
                <span asp-validation-for="Klient.Imie" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Klient.Nazwisko" class="control-label">Nazwisko</label>
                <input asp-for="Klient.Nazwisko" class="form-control" />
                <span asp-validation-for="Klient.Nazwisko" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Klient.Email" class="control-label">Email</label>
                <input asp-for="Klient.Email" class="form-control" />
                <span asp-validation-for="Klient.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
                <a asp-page="./Index" class="btn btn-secondary">Wróć</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}